!!! 5
%head
  %title jQuery Sliding Drawer and Tabs [@dankim]
  %meta{charset: "UTF-8"}
  %link{href: "css/styles.css", media: "screen", rel: "stylesheet", type: "text/css"}
  %script{src: "js/jquery-1.9.0.min.js"}
  %script{src: "js/main.js"}
%body
  .container
    %ul.tabs-nav
      %li
        %a{href: "#tab-1"}
          Tab 1
      %li
        %a{href: "#tab-2"}
          Tab 2
    .tabs-stage
      .tab#tab-1
        .panel
          .panel-stage
            %iframe{width: "560", height: "315", src: "http://www.youtube.com/embed/Bk14UW1d3zs", frameborder: "0", allowfullscreen: "true"}
          .btn
            %a.panel-tab{href: "#"} Open ▼
      .tab#tab-2
        .panel
          Move along. There's nothing to see here.
  %script{src: "http://php.dankim.org/dankim-org-ga.js", type: "text/javascript"}  